<div class="container">
  <div class="textDashboard">

    <strong>Nombre total de collaborateurs : </strong>
    <br/><strong class="total"> <a [routerLink]="['/collaboratorSetting']">
    {{countCollaboratorActif}}
  </a> </strong>
  </div>
  <div class="textDashboard">
    <strong>Nombre de compétences recensées : </strong>
    <br/><strong class="total">{{countCollaboratorSkill}}</strong>
  </div>
</div>
<hr>

<div class="container">
  <div class="displayPatrimoineSkill">
    <table class="table table-striped" id="dashboardTable">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th>Skill</th>
        <th>Nombre de compétences ({{countCollaboratorSkill}})</th>

      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let countSkill of countSkills; index as i">
        <th  scope="col">{{ i + 1 }}</th>
        <td >{{ countSkill[0] }}   </td>
        <td class="center">{{ countSkill[1]}}</td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="chart">
    <canvas baseChart
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [plugins]="barChartPlugins"
            [legend]="barChartLegend"
            [chartType]="barChartType"
            [colors]="barChartColors">
      [plugins]="barChartPlugins"
    </canvas>
  </div>
</div>

