<h5>

  <strong>Nombre de collaborateurs : </strong>
  <strong> <a [routerLink]="['/collaboratorSetting']">
    {{countCollaboratorActif}}
  </a> </strong>
</h5>




<div class="displayPatrimoineSkill">
  <strong>Liste des compétences : {{countCollaboratorSkill}}</strong>
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Skill</th>
      <th scope="col">Nombre de compétence</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let patrimoineSkill of patrimoineSkills; index as i">
      <th scope="row">{{ i + 1 }}</th>
      <td>      {{ patrimoineSkill[0] }}   </td>
      <td>{{ patrimoineSkill[1]}}</td>
    </tr>
    </tbody>
  </table>
</div>
