<div class="auth">

  <div class="form-group">
    <label for="email">Entrez votre Email</label>
    <input type="email" class="form-control" id="email" placeholder="Email">
  </div>

  <div class="form-group">
    <label for="email">Saisissez votre Password</label>
    <input type="email" class="form-control" id="email" placeholder="Password">
  </div>

  <div class="authButton">
    <button class="btn btn-success authButton"
            *ngIf="!authStatus" (click)="onSignIn()">
      Connexion
    </button>

    <button class="btn btn-danger authButton"
            *ngIf="authStatus" (click)="onSignOut()">
      Déconnexion
    </button>
  </div>
</div>


