<!--***** Rappel du nom du collaborateur *****-->
<ng-container *ngIf="collaboratorDetail">
  <H4> Ajout de compétences : {{collaboratorDetail.firstName}}
    {{collaboratorDetail.name | uppercase }}
  </H4>
</ng-container>


<!--***** Affichage des listes de valeurs *****-->
<div class="addAction">

  <!-- 1) Affichage de la liste de valeurs du domaine de competences-->
  <form [formGroup]="addSelectSkillForm">
    <label for="skillArea">Sélectionner un domaine</label>
    <select id="skillArea"
            formControlName="skillArea"
            class="form-control list-space"
            (change)="onAreaChange()">

      <option value="0">-- Domaine de Compétences --</option>
      <option *ngFor="let area of areaList"
              value="{{area.skillAreaId}}"> {{area.name | uppercase}}</option>
    </select>
  </form>


  <!-- ***** Formulaire d'enregistrement de la compétence *****-->
  <form [formGroup]="addSkillForOneCollaboratorForm"
        (ngSubmit)="onAddSkillForOneCollaborator()">

    <input type="hidden" id="collaboratorSkillId"
           formControlName="collaboratorSkillId">

    <!--2) Affichage de la liste de valeurs des compétences-->
    <label for="skill">Sélectionner une compétence</label>
    <select id="skill"
            formControlName="skillId"
            class="form-control list-space"
            (change)="selectedSkillId(skillAreaSelect.value)" #skillAreaSelect>
      <option value="0">-- Compétences --</option>
      <option *ngFor="let skill of skillList"
             value="{{skill.skillId}}">
        {{skill.name | uppercase}}</option>

    </select>

    <!--  *****Auto Evaluation *****-->
    <label for="autoRating">Auto Evaluation de la compétence</label>
    <input id="autoRating" type="number"
           placeholder="Renseigner une note sur 5"
           max=5
           min=0
           class="form-control list-space"
           formControlName="autoRating">


    <!--***** Affichage des boutons de validation et d'annulation *****-->
    <div class="cancelValidBtn">

      <ng-container *ngIf="collaboratorDetail">
        <button type="button" class="btn btn-primary mb-2 btn-space"
                data-toggle="tooltip"
                data-placement="bottom" title="Cliquez pour annuler"

                [routerLink]="['/skill',collaboratorDetail.collaboratorId]">

          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
               class="bi bi-arrow-return-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd"
                  d="M1.5 1.5A.5.5 0 0 0 1 2v4.8a2.5 2.5 0 0 0 2.5 2.5h9.793l-3.347 3.346a.5.5 0 0 0 .708.708l4.2-4.2a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 8.3H3.5A1.5 1.5 0 0 1 2 6.8V2a.5.5 0 0 0-.5-.5z"/>
          </svg>
          Back
        </button>


        <button type="button" class="btn btn-success mb-2 btn-space"
                data-toggle="tooltip"
                data-placement="bottom" title="Cliquez pour enregistrer"
                (click)="onAddSkillForOneCollaborator()"
                [routerLink]="['/skill',collaboratorDetail.collaboratorId]">

          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-lg"
               viewBox="0 0 16 16">
            <path
              d="M13.485 1.431a1.473 1.473 0 0 1 2.104 2.062l-7.84 9.801a1.473 1.473 0 0 1-2.12.04L.431 8.138a1.473 1.473 0 0 1 2.084-2.083l4.111 4.112 6.82-8.69a.486.486 0 0 1 .04-.045z"/>
          </svg>
          Enregistrer
        </button>
      </ng-container>
    </div>
  </form>

</div>
