<div class="blocSkill">

  <div class="leftPartSkill">
    <!--    <h2>Fiche Collaborateur</h2>-->
    <!--    ***** Affichage de la liste de valeurs de sélection de l'utilisateur *****-->
    <form [formGroup]="selectCollaboratorForm">

      <label for="selectCollaborator">Sélectionner un collaborateur</label>
      <select id="selectCollaborator" name="selectCollaborator"
              class="form-control"
              formControlName="selectCollaborator"
              (change)="onSelectCollaborator(this.selectCollaboratorForm.get('selectCollaborator')?.value)"
              [routerLink]="['/skill',this.selectCollaboratorForm.get('selectCollaborator')?.value]">

        <option value="0">-- collaborateur --</option>
        <option *ngFor="let collaborator of collaboratorList" value="{{collaborator.collaboratorId}}">
          {{collaborator.name | uppercase}} {{collaborator.firstName}} </option>
      </select>

      <div class="form-group">
        <label for="matricule">Matricule</label>
        <input id="matricule" type="text" readonly="disabled" class="form-control"
               formControlName="collaboratorMatricule">
      </div>

      <div class="form-group">
        <label for="profession">Poste</label>
        <input id="profession" type="text" readonly="disabled" class="form-control"
               formControlName="collaboratorProfession">
      </div>

      <div class="form-group">
        <label for="mail">Mail</label>
        <input id="mail" type="text" readonly="disabled" class="form-control" formControlName="collaboratorMail">
      </div>

      <div class="form-group">
        <label for="collaboratorDepartment">Département</label>
        <input id="collaboratorDepartment" type="text" readonly="disabled" class="form-control"
               formControlName="collaboratorDepartment">
      </div>

      <div class="form-group">
        <label for="language">Langue</label>
        <input id="language" type="text" readonly="disabled" class="form-control"
               formControlName="collaboratorLanguage">
      </div>

    </form>
  </div>

  <!--  ***** Affichage Compétences *****-->
  <div class="rightPartSkill">

    <h2 class="project">Compétences
      <button class="btn btn-secondary mb-2 right"
              data-toggle="tooltip"
              data-placement="bottom" title="Cliquez pour ajouter une compétence"

              [routerLink]="['/skill/add-skill',this.selectCollaboratorForm.get('selectCollaborator')?.value]">


        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil"
             viewBox="0 0 16 16">
          <path
            d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
        </svg>
        Ajouter Compétences
      </button>
    </h2>

    <!--  ***** liste des Compétences pour un collaborateur *****-->

    <h3>
      <button type="button" class="btn btn-primary" *ngFor="let skillByCollaborator of skillListbyCollaborator">
        {{skillByCollaborator.skills.name | uppercase}}
        <span class="badge badge-light">
          {{skillByCollaborator.autoRating}}</span>

      </button>
    </h3>
  </div>

</div>

<div class="blocSkill">
  <div class="leftPartSkill">
    <h2>Favoris</h2>
  </div>

  <!--  ***** Affichage expérience projet *****-->
  <div class="rightPartSkill">
    <h2 class="project">Expérience Projet
      <button class="btn btn-secondary mb-2 right"
              data-toggle="tooltip"
              data-placement="bottom" title="Cliquez pour ajouter un projet"
              type="submit"
              [routerLink]="['/skill/add-project',this.selectCollaboratorForm.get('selectCollaborator')?.value]">

        <!--        routerLink="/addProject">-->

        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil"
             viewBox="0 0 16 16">
          <path
            d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
        </svg>
        Ajouter Projets
      </button>
    </h2>

    <!--  ***** liste des projets pour un collaborateur *****-->

    <button class="btn btn-success"
            data-toggle="tooltip"
            data-placement="bottom" title="Cliquez pour accéder au détail du projet"
            *ngFor="let projectByCollaborator of projectListbyCollaborator"
            [routerLink]="['/skill/project-detail', projectByCollaborator.projectId]">


      {{projectByCollaborator.name | uppercase}}

      <span class="badge badge-light">

           </span>

    </button>
  </div>
</div>

