<H4 *ngIf="collaboratorDetail"> Ajout d'expériences projet : {{collaboratorDetail.firstName}}
  {{collaboratorDetail.name | uppercase }}
</H4>


<div class="addAction">
  <form [formGroup]="addSelectProjectForm">
<!--    <input type="hidden" id="project-id" formControlName="projectId">-->

    <label for="nameProject">Nom du projet</label>
    <input id="nameProject" type="text"
           placeholder="Renseigner un nom de projet"
           class="form-control list-space"
           formControlName="name">

    <label for="descriptionProject">Description du projet</label>
    <textarea id="descriptionProject"
              placeholder="Renseigner quelques mots pour décrire le projet"
              class="form-control list-space"
              formControlName="description"></textarea>

    <label for="speciality">Spécialité</label>
    <textarea id="speciality"
              placeholder="Renseigner votre fonction occupée dans le projet"
              class="form-control list-space"
              formControlName="speciality"></textarea>

    <label for="startDate">Date début</label>
    <input id="startDate" type="date"
           placeholder="Renseigner la date début d'intervention"
           class="form-control list-space"
           formControlName="startDate">

    <label for="endDateProject">Date Fin</label>
    <input id="endDateProject" type="datetime-local"
           placeholder="Renseigner la date de fin d'intervention'"
           class="form-control list-space"
           formControlName="endDate">


    <!--***** Affichage des boutons de validation et d'annulation *****-->

    <div *ngIf="collaboratorDetail" class="cancelValidBtn">

      <!--***** Annulation permet de revenir à la fiche skill *****-->
      <button type="button" class="btn btn-primary mb-2 btn-space"
              title="Retour"
              [routerLink]="['/skill',collaboratorDetail.collaboratorId]">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
             class="bi bi-arrow-return-right" viewBox="0 0 16 16">
          <path fill-rule="evenodd"
                d="M1.5 1.5A.5.5 0 0 0 1 2v4.8a2.5 2.5 0 0 0 2.5 2.5h9.793l-3.347 3.346a.5.5 0 0 0 .708.708l4.2-4.2a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 8.3H3.5A1.5 1.5 0 0 1 2 6.8V2a.5.5 0 0 0-.5-.5z"/>
        </svg>
        Back
      </button>

      <button type="button" class="btn btn-success mb-2 btn-space"
              title="Ajouter"
              (click)="onAddProject()">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg"
             viewBox="0 0 16 16">
          <path d="M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z"/>
        </svg>
        Ajouter Projet
      </button>

    </div>
  </form>
</div>

<div class="containerBadge" >
  <h4 class="text-center" *ngFor="let projectInput of projectList">
  <span class="badge badgeProject">
    {{projectInput.name | uppercase}}
  </span>
  </h4>
</div>
