<!--Affichage de la liste de valeurs des compétences-->

<div class="form-group centredList">
  <form [formGroup]="searchSkillForm">

    <label for="skillSelected">Sélectionner une compétence</label>
    <select id="skillSelected" name="skillSelected"
            class="form-control list-space"
            formControlName="skillSelected"
            (change)="onSearchSkillSelected(this.searchSkillForm.get('skillSelected')?.value)">

      <option value="0">-- Compétences --</option>
      <option *ngFor="let skill of skillList" value="{{skill.skillId}}">{{skill.name | uppercase}}</option>
    </select>
  </form>

  <h5 *ngIf="skillList"><strong>Nombre de profils collaborateurs identifiés : {{getRowsCollaborator()}}</strong></h5>

  <table class="table table-striped"
         *ngIf="clickOnSearch">
    <thead>
    <tr>
      <th></th>
      <th>Nom</th>
      <th>Prénom</th>
      <th>Poste</th>
      <th>Email</th>
      <th>Langue</th>
      <th>Auto Evaluation</th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let skillSearchResult of skillsSearchResult">
      <td><a [routerLink]="['/skill',skillSearchResult.collaboratorId]">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill"
             viewBox="0 0 16 16">
          <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
          <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
        </svg>
      </a></td>
      <td>{{skillSearchResult.name}} </td>
      <td width=10%>{{skillSearchResult.firstName}}</td>
      <td>{{skillSearchResult.profession}}</td>
      <td>{{skillSearchResult.mail}}</td>
      <td>{{skillSearchResult.language}}</td>
      <td>{{skillSearchResult.autoRating}}</td>
    </tr>

    </tbody>

  </table>

  <button *ngIf="clickOnSearch"
          type="button"
          class="btn btn-info mb-2 btnExport"
          (click)="download()">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download"
         viewBox="0 0 16 16">
      <path
        d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
      <path
        d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
    </svg>
    Export To CSV
  </button>

</div>







