<!--Affichage de la liste de valeurs des compétences-->

<div class="form-group centredList">
  <form [formGroup]="searchSkillForm">

    <label for="skillSelected">Sélectionner une compétence</label>
    <select id="skillSelected" name="skillSelected"
            class="form-control list-space"
            formControlName="skillSelected"
            (click)="onSearchSkillSelected(this.searchSkillForm.get('skillSelected')?.value)">

      <option value="0">-- Compétences --</option>
      <option *ngFor="let skill of skillList" value="{{skill.skillId}}">{{skill.name | uppercase}}</option>
    </select>
  </form>


  <table class="table table-striped"
         *ngIf="clickOnSearch">
    <thead>
      <tr>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Poste</th>
        <th>Email</th>
        <th>Langue</th>
      </tr>
    </thead>

    <tbody>
    <tr *ngFor = "let skillSearchResult of skillsSearchResult" >
      <td>{{skillSearchResult.name}}</td>
      <td>{{skillSearchResult.firstName}}</td>
      <td>{{skillSearchResult.profession}}</td>
      <td>{{skillSearchResult.mail}}</td>
      <td>{{skillSearchResult.language}}</td>
    </tr>

    </tbody>
  </table>

</div>







