html {
  front-family: Calibri, Arial;
  font-size: 13px;
}

h1 {
  color: rgb(88, 19, 116);
  padding-left: 10%;
  font-size: 2em;
}


.container {
  display: flex;
  flex-direction: row;}

/******Barre de navigation*****/

.navbar-default {
  margin-top: 1%;
  background-color: rgb(88, 19, 116);
  height: 70px;
  color: white;
  padding-left: 100px;
  font-weight: bold;
}

.navbar-default .navbar-nav > li > a {
  color: white;
  font-size: 1.1em;
}

/******Paramétrage des compétences*****/
.formCreateSkill, .formModifSkill  {
  width: 50%;
  margin-top: 1%;
  margin-left: auto;
  margin-right: auto;
}

.table-striped {
  margin-top: 2%;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.btn-primary {
  margin-right: 3%;
}

/******Authentification******/
.auth {
  width: 35%;
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
  min-height: 45em;
  color: rgb(88, 19, 116);
}


.authButton {
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
  text-align: center;
}

/******add Skill******/
.addSkill {
  width: 35%;
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
  color: rgb(88, 19, 116);
}

.addSkillBtn {
  margin-top:6%;
  text-align: center;
}
.btn-space {
  margin-right: 15px;
  margin-left: 15px;
}

.list-space
{
  margin-bottom: 5%;
}
