h1 {
  color: rgb(88, 19, 116);
  padding-left: 10%;
  font-size: 2em;
}

h2 {
  margin-top: 1%;
  color: rgb(88, 19, 116);
  font-size: x-large;
  font-weight: bold;

}

h3 {
  margin-top: 1%;
  margin-left: auto;
  margin-right: auto;
  color: rgb(88, 19, 116);
}

h4 {
  margin-top: 1%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: rgb(88, 19, 116);
  font-weight: bold;
}

h5{
  color: rgb(88, 19, 116);
}

h6{
  margin-top: 4%;
  color: rgb(88, 19, 116);
}

.container {
  display: flex;
  flex-direction: row;
}

/******Barre de navigation*****/

.navbar-default {
  background-color: rgb(88, 19, 116);
  height: 70px;
  color: white;
  padding-left: 100px;
  font-weight: bold;
}

.navbar-default .navbar-nav > li > a {
  color: white;
  font-size: 1.1em;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: darkgrey;
}

/******Paramétrage des compétences*****/
.formCreate, .formModifSkill {

  margin-top: 1%;
  margin-left: auto;
  margin-right: auto;
}

.table-striped {
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
  overflow-x: scroll
}

.btn-primary, .btn-success {
  margin-right: 3%;

}

/******Authentification******/
.centredList {
  width: 45%;
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
  min-height: 45em;
  color: rgb(88, 19, 116);
}


.buttonCentred {
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
  text-align: center;
}

/******Fiche de compétences du collaborateur*****/

.blocSkill {
  display: flex;
  flex-direction: row;
  font-family: Calibri;
}

.leftPartSkill {
  width: 30%;
  margin-left: 3%;
  border-radius: 7px;
  border: 1px solid #DCDCDC;
  padding: 10px;
  margin-top: 1%;
}

.rightPartSkill {
  width: 60%;
  margin-left: 3%;
  border-radius: 7px;
  border: 1px solid #f8f9fa;
  padding: 10px;
  margin-top: 1%;
  background-color: #f8f9fa;
}

.badge {
  margin-right: 15px;
  margin-left: 15px;
  font-size: 0.8em;
}

.right {
  margin-left: 65%;
}

/******add Skill******/
.addAction {
  width: 35%;
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
  color: rgb(88, 19, 116);
}

.cancelValidBtn {
  margin-top: 6%;
  text-align: right;
  margin-right: 15px;
  margin-left: 15px;
}

.btn-space {
  margin-right: 15px;
  margin-left: 15px;

}

.list-space {
  margin-bottom: 5%;
}

/******Detail projet******/
.projectDetail {
  margin-top: 2%;
  color: rgb(88, 19, 116);
  font-size: 1.2em;
  border-radius: 12px;
  border: 1px solid #f8f9fa;
  background-color: #f8f9fa;
  width: 50%;
  padding: 1%;
  margin-left: auto;
  margin-right: auto;
  min-height: 25em;
}
.formCreateSmallLarger{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.btnRight {
  margin-left: 85%;
  margin-top: 0%;
  margin-bottom: 0%;
}

/******Style for modal******/
jw-modal {
  /* modals are hidden by default */
  display: none;}
.jw-modal {
  /* modal container fixed across whole screen */
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* z-index must be higher than .jw-modal-background */
  z-index: 1000;
  /* enables scrolling for tall modals */
  overflow: auto;}
.jw-modal-body {
  padding: 20px;
  background: #fff;
  /* margin exposes part of the modal background */
  margin: 40px;
}

.jw-modal-background {
  /* modal background fixed across whole screen */
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* semi-transparent black  */
  background-color: #000;
  opacity: 0.75;
  /* z-index must be below .jw-modal and above everything else  */
  z-index: 900;
}

body.jw-modal-open {
  /* body overflow is hidden to hide main scrollbar when modal window is open */
  overflow: hidden;
}

.btn btn-info mb-2{
  margin-top: 50%;
}

.btnExport {
  margin-left: 82%;
}
