<!--***** Bouton pour ajouter une compétence *****-->
<div class="btnRight">
  <button class="btn btn-primary mb-2"
          (click)="openModal()"
          data-toggle="tooltip"
          data-placement="bottom" title="Cliquez pour ajouter un collaborateur">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil"
         viewBox="0 0 16 16">
      <path
        d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
    </svg>
    Ajouter une compétence
  </button>
</div>

<!--***** Formulaire pour insérer un compétences *****-->
<div *ngIf="showSkillSettingModal">
  <div class="jw-modal" id="collaboratorModal">
    <div class="jw-modal-body">
      <div class="formCreateSmallLarger">
        <form [formGroup]="createSkillForm"
              (ngSubmit)="onSkillCreate()">
          <h4>Création de Compétences</h4>

          <input type="hidden" id="skillId" formControlName="skillId">

          <label for="name">Renseigner le nom de la compétence:</label>
          <input type="text" id="name" class="form-control"
                 formControlName="name">

          <label for="skillArea">Domaine de compétence de rattachement : </label>
          <select name="skillArea" id="skillArea"
                  formControlName="skillArea"
                  class="form-control list-space">
            <option value="0">-- Domaine de Compétence --</option>
            <option *ngFor="let skillArea of skillAreaList"
                    [ngValue]="skillArea">
              {{skillArea.name | uppercase}}</option>
          </select>

          <label for="startDate">Date Début :</label>
          <input type="date" id="startDate" class="form-control"
                 formControlName="startDate">

          <label for="endDate">Date de Fin :</label>
          <input type="date" id="endDate" class="form-control"
                 formControlName="endDate">

          <button type="button" class="btn btn-warning mb-2 cancelValidBtn"
                  data-toggle="tooltip"
                  data-placement="bottom" title="Cliquez pour annuler"
                  (click)="closeModal()">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg"
                 viewBox="0 0 16 16">
              <path
                d="M1.293 1.293a1 1 0 0 1 1.414 0L8 6.586l5.293-5.293a1 1 0 1 1 1.414 1.414L9.414 8l5.293 5.293a1 1 0 0 1-1.414 1.414L8 9.414l-5.293 5.293a1 1 0 0 1-1.414-1.414L6.586 8 1.293 2.707a1 1 0 0 1 0-1.414z"/>
            </svg>
            Annuler
          </button>

          <button type="button" class="btn btn-success mb-2 cancelValidBtn"
                  data-toggle="tooltip"
                  data-placement="bottom" title="Cliquez pour enregistrer"
                  type="submit">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-lg"
                 viewBox="0 0 16 16">
              <path
                d="M13.485 1.431a1.473 1.473 0 0 1 2.104 2.062l-7.84 9.801a1.473 1.473 0 0 1-2.12.04L.431 8.138a1.473 1.473 0 0 1 2.084-2.083l4.111 4.112 6.82-8.69a.486.486 0 0 1 .04-.045z"/>
            </svg>
            Enregistrer
          </button>

        </form>
      </div>
    </div>
  </div>
  <div class="jw-modal-background"></div>
</div>


<div *ngIf="showSkillUpdateModal">
  <div class="jw-modal" id="task-modal">
    <div class="jw-modal-body">
      <div class="formCreateSmallLarger">

        <!--*****Formulaire de modification de compétences - le formulaire s'affiche lorsque click sur bouton modifier*****-->
        <form [formGroup]="skillForm"
              (ngSubmit)="onSkillUpdate()">
          <input type="hidden" id="skill-id" class="form-control" formControlName="skillId">
          <label for="skill-name">Compétence : </label>
          <input type="text" id="skill-name" class="form-control" formControlName="name">
          <label for="skill-date-start">Date Début : </label>
          <input type="date" id="skill-date-start" class="form-control" formControlName="startDate">
          <label for="skill-date-end">Date de Fin :</label>
          <input type="date" id="skill-date-end" class="form-control" formControlName="endDate">

          <button id="btnModifSkill" class="btn btn-warning mb-2 cancelValidBtn"
                  data-toggle="tooltip"
                  data-placement="bottom" title="Cliquez pour annuler"
                  (click)="closeModalUpdate()">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg"
                 viewBox="0 0 16 16">
              <path
                d="M1.293 1.293a1 1 0 0 1 1.414 0L8 6.586l5.293-5.293a1 1 0 1 1 1.414 1.414L9.414 8l5.293 5.293a1 1 0 0 1-1.414 1.414L8 9.414l-5.293 5.293a1 1 0 0 1-1.414-1.414L6.586 8 1.293 2.707a1 1 0 0 1 0-1.414z"/>
            </svg>
            Annuler
          </button>

          <button type="button" id="btnModifSkill" class="btn btn-success mb-2 cancelValidBtn"
                  data-toggle="tooltip"
                  data-placement="bottom" title="Cliquez pour enregistrer"
                  type="submit">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-lg"
                 viewBox="0 0 16 16">
              <path
                d="M13.485 1.431a1.473 1.473 0 0 1 2.104 2.062l-7.84 9.801a1.473 1.473 0 0 1-2.12.04L.431 8.138a1.473 1.473 0 0 1 2.084-2.083l4.111 4.112 6.82-8.69a.486.486 0 0 1 .04-.045z"/>
            </svg>
            Enregistrer
          </button>
        </form>
      </div>
    </div>
  </div>
  <div class="jw-modal-background"></div>
</div>

<h5><strong>Nombre de compétences : {{getRowsSkill()}}</strong></h5>

<table class="table table-striped withMarge">
  <thead>
  <tr>
<!--    <th scope="col">#</th>-->
    <th class="skill">Compétences</th>
    <th>Date Début</th>
    <th>Date Fin</th>
    <th>Actions</th>
  </tr>
  </thead>

  <tbody>
  <tr
    *ngFor="let skill of skillList
    | paginate: { itemsPerPage: 8, currentPage: page, totalItems : totalLength };
    index as i">
<!--    <th scope="row">{{ i + 1 }}</th>-->
    <td><span id="name">{{skill.name | uppercase}}</span></td>
    <td><span id="startDate">{{skill.startDate}}</span></td>
    <td><input #dateEndSkill type="date"
               class="form-control"
               (change)="updateDateEndSkill(dateEndSkill.value, skill)" value="{{skill.endDate}}">
    </td>

    <button id="btn-modifSkill" class="btn btn-primary mb-2"
            data-toggle="tooltip"
            data-placement="bottom" title="Cliquez pour mettre à jour une compétence"
            type="submit"
            (click)="onSkillEdit(skill)"
            (click)="openModalUpdate()">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil"
           viewBox="0 0 16 16">
        <path
          d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
      </svg>
      Modifier
    </button>

    <button class="btn btn-warning mb-2"
            title="Cliquez pour supprimer une compétence"
            (click)="onDeleteSkillById(skill.skillId)">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash"
           viewBox="0 0 16 16">
        <path
          d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-
           0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
        <path fill-rule="evenodd"
              d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1
              1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0
              0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
      </svg>
      Supprimer
    </button>
  </tbody>
</table>

<div *ngIf="showAlertViolationContrainte">
  <div class="jw-modal" id="task-modal">
    <div class="jw-modal-body">
      <p class="error">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
             class="bi bi-exclamation-triangle" viewBox="0 0 16 16">
          <path
            d="M7.938 2.016A.13.13 0 0 1 8.002 2a.13.13 0 0 1 .063.016.146.146 0 0 1 .054.057l6.857 11.667c.036.06.035.124.002.183a.163.163 0 0 1-.054.06.116.116 0 0 1-.066.017H1.146a.115.115 0 0 1-.066-.017.163.163 0 0 1-.054-.06.176.176 0 0 1 .002-.183L7.884 2.073a.147.147 0 0 1 .054-.057zm1.044-.45a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566z"/>
          <path
            d="M7.002 12a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 5.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995z"/>
        </svg>
        Suppression impossible - La clé Skill_id est référencée dans la table COLLABORATOR_SKILL (violation de contraintes)
      </p>

      <button id="btnCancelMessage" class="btn btn-warning mb-2 btnCancelMessage"
              data-toggle="tooltip"
              data-placement="bottom" title="Cliquez pour annuler"
              (click)="closeModal()">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg"
             viewBox="0 0 16 16">
          <path
            d="M1.293 1.293a1 1 0 0 1 1.414 0L8 6.586l5.293-5.293a1 1 0 1 1 1.414 1.414L9.414 8l5.293 5.293a1 1 0 0 1-1.414 1.414L8 9.414l-5.293 5.293a1 1 0 0 1-1.414-1.414L6.586 8 1.293 2.707a1 1 0 0 1 0-1.414z"/>
        </svg>
        Annuler
      </button>

    </div>
  </div>
  <div class="jw-modal-background"></div>
</div>

<div>
  <pagination-controls class="text-center" (pageChange)="page = $event"></pagination-controls>
</div>


